<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">NODE MODE</div>
  <div class="span2">&nbsp;</div>
</div>
<div class="row">
  <div class="span12">
    <div id="bracket"> </div>
  </div>
</div>
