<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">NODE MODE</div>
  <div class="span2">&nbsp;</div>
</div>
<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    In Node Mode you may adjust the number of nodes that encompasses the bracket.
    Press the '+' to add a match behind it, and '-' to remove all matches in its
    ancestors.
  </div>
  <div class="span2">&nbsp;</div>
</div>
<div class="row">
  <div class="span12">
    <div id="bracket"> </div>
  </div>
</div>
