<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">MATCH MODE</div>
  <div class="span2">&nbsp;</div>
</div>
<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    In Match Mode, you may specify the Winner/Loser Progression. To do so, click
    the 'W' or 'L' on the corresponding match. A series of circles will display
    on the remaining nodes.  Click on the circle that matches the place you would
    like the winner/loser to progress to.
  </div>
  <div class="span2">&nbsp;</div>
</div>
<div class="row">
  <div class="span12">
    <div id="bracket"> </div>
  </div>
</div>
