// Place all the styles related to the Brackets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bracket
  .node
    rect
      stroke: black
      fill: red

  .link
    fill: none
    stroke-width: 1.5px
    stroke: red      
