<!DOCTYPE html>
<html>
<head>
  <title>Bracketeer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="pull-left">
        <li class="brand">Bracketeer</li>
      </ul>
      <ul class="nav" id="nav">
        <li class="active"><a id="node_mode" href="#">NODES</a></li>
        <li><a id="match_mode" href="#">MATCHES</a></li>
      </ul>
      <ul class="pull-right">
        <div>
          <form id="export" class="navbar-form" method="post" action="/export">
            <input type="hidden" id="bracket_data" name="bracket" />
            <input type="text" name="title" value="Template Name" />
            <input type="submit" value="EXPORT" />
          </form>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    <h1>Bracketeer</h1>
  </div>
  <div class="span2">&nbsp;</div>
</div>

<div class="row">
  <div class="span12" id="bracketeer">
    <%= yield %>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    window.Bracketeer.router = new Bracketeer.Routers.BracketsRouter();
    Backbone.history.start();
  });
</script>
</body>
</html>
